<div class="row">
  <div class="col-sm-12">
    <center>
      <h1>Change Log</h1>
      <br>
    </center>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <center>
      <table class="table">
        <!--Table head-->
        <thead class="apropiateBlack text-black lighten-4">
          <tr>
            <th><a (click)="onSort('name')">Name</a></th>
            <th><a (click)="onSort('role')">Role</a></th>
            <th><a (click)="onSort('category')">Category</a></th>
            <th><a (click)="onSort('time')">Time</a></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of ChangeReports">
            <td>{{row.name}}</td>
            <td>{{row.role}}</td>
            <td>{{row.category}}</td>
            <td>{{row.time}}</td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
      <br>
    </center>
  </div>
