<div class="section" *ngFor="let s of seccion; let i = index" [attr.data-index]="i">
  <div class="md-form">
    <input type="text" class="form-control" [(ngModel)]="s.category" mdbInputDirective [mdbValidate]="false">
    <label class="">Categoria o título</label>
  </div>
  <br>

  <div [froalaEditor] [(froalaModel)]="s.body"></div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)='onSave(i)'>Save</button>
      <button class="btn btn-red" (click)='onDelete(i)'>Delete</button>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="newSection()">New Section</button>
<button class="btn btn-primary" (click)="savePDF()">Download</button>
