<div class="row">
  <div class="col-sm-6">
    <h2>Fill Contact Information:</h2><br>
  </div>
</div>

<div class="row">
  <br>

  <div class="col-sm-6 text-center" style="text-align:center">
    <h3>Add Contact</h3><br>
    <form class="border border-light p-5">

        <p class="h5 mb-4">Fill information required.</p>
    
        <!-- Name -->
        <input type="text" id="contactName" class="form-control mb-4" placeholder="Name">
    
        <!-- Title -->
        <input type="text" id="contactTitle" class="form-control mb-4" placeholder="Title">
 
        <!-- Email -->
        <input type="text" id="contactEmail" class="form-control mb-4" placeholder="Email">

        <!-- Telephone -->
        <input type="text" id="contactTelephone" class="form-control mb-4" placeholder="Telephone">

        <!-- ID -->
        <input type="text" id="contactID" class="form-control mb-4" placeholder="Contact ID">        
    
        <!-- Send button -->
        <button class="btn btn-info" type="submit">Add</button>
    
    </form>

  </div>

</div>