<div class="col-sm-6">
  <div class="row">
    <h2>Edit Policies Information</h2><br>
  </div><br>

  <div class="row">
    <h3>Policy Information:</h3><br>
  </div><br>

  <div class="row">
    <h5>Policy</h5><br>
    <input type="text" id="defaultPolicy" class="form-control mb-4" placeholder="Policy">
    <h5>Company Name</h5><br>
    <input type="text" id="defaultCompanyName" class="form-control mb-4" placeholder="Company Name">
    <h5>Company Description</h5><br>
    <input type="text" id="defaultCompanyDescription" class="form-control mb-4" placeholder="Description">
    <h5>Contact Email</h5><br>
    <input type="text" id="defaultCompanyEmail" class="form-control mb-4" placeholder="Email">
    <h5>Phone Number</h5><br>
    <input type="text" id="defaultPhone" class="form-control mb-4" placeholder="Phone">
    <h5>Policy Number</h5><br>
    <input type="text" id="defaultPolicyNumber" class="form-control mb-4" placeholder="Policy Number">
    <h5>Policy Term</h5><br>
    <input type="text" id="defaultPolicyTerm" class="form-control mb-4" placeholder="Policy Term">

    <button mdbBtn color="info" class="my-4" type="submit">Submit</button>
  </div>
</div>

