<div class="col-sm-6">
  <form class="text-center border border-light p-2">

    <p class="h4 mb-4 dvColorText">Create Account</p>

    <!-- Name -->
    <input type="text" id="defaultCreateAccountName" class="form-control mb-4" placeholder="Name">

    <!-- Last Name -->
    <input type="text" id="defaultCreateAccountLastName" class="form-control mb-4" placeholder="Last Name">

    <!-- Email -->
    <input type="email" id="defaultCreateAccountEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Re-enter Email -->
    <input type="email" id="defaultCreateAccountReEmail" class="form-control mb-4" placeholder="Re-enter E-mail">

    <!-- Password -->
    <input type="password" id="defaultCreateAccountFormPassword" class="form-control mb-4" placeholder="Password">

    <!-- Re-enter Password -->
    <input type="password" id="defaultCreateAccountReFormPassword" class="form-control mb-4" placeholder="Re-enter Password">

    <!-- Create Account button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Create Account</button>

  </form>
</div>