<div class="row">
  <div class="col-sm-6">
    <h2>Contact Information:</h2>
  </div>
</div>

<br>

<div *ngFor='let con of contacts'>
  <h4> {{con.emergencyTitle}}<br><br></h4>
  <div *ngFor="let contact of contacts">
    <div *ngIf="contact.emergencyTitle == con.emergencyTitle">

      <p> <strong>{{contact.entityName}}|</strong> {{contact.entityDescription}}</p><br>
      <p>
        Phone number: <a href="tel:{{contact.entityPhone}}">{{contact.entityPhone}}</a>
      </p>
      <br>
      <p>
        Email: <a href="mailto:{{contact.entityEmail}}">{{contact.entityEmail}}</a>
      </p>
      <br>
    </div>
  </div>
</div>
