<!--Section: Features v.1-->
<div class="row">

  <div class="col-sm-6">
    <section class="text-center">

      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold">GuardDV Contingency Plan</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead" style="color: #0733b3">
        Providing security
        <br> anytime,
        <br> anywhere.
      </p>
      <!--Grid row-->
      <div class="row">

        <div class="col"></div>
        <!--Grid column-->
        <div class="col">
          <!-- Default form login -->
          <app-sign-in></app-sign-in>
          <!-- Default form login -->
        </div>
        <!--Grid column-->
        <div class="col"></div>
      </div>
      <!--Grid row-->

    </section>
    <!--Section: Features v.1-->
  </div>
  <div class="col-sm-6">
    <img src="https://static.wixstatic.com/media/684665_f3afa8d23f6b48348f0a402c97770b42~mv2_d_2550_3300_s_4_2.png/v1/fill/w_750,h_970,al_c,usm_0.66_1.00_0.01/684665_f3afa8d23f6b48348f0a402c97770b42~mv2_d_2550_3300_s_4_2.png"
      alt="">
    <!-- Default form login -->
  </div>

</div>
