<div class="row">

  <div class="col-sm-12">
    <h2>Edit Contact Information</h2><br>
  </div>

</div>


<div class="row">
  <div class="col-sm-6">
        <h6>Emergency Title</h6>
        <input type="text" id="editContactsEmergency" class="form-control mb-4" placeholder="Emergency Title" [(ngModel)]="contact.emergencyTitle">
  </div>
</div>


<div class="row">
  <div class="col-sm-3">

        <h6>Entity Name</h6>
        <input type="text" id="editContactsEntity" class="form-control mb-4" placeholder="Entity Name" [(ngModel)]="contact.entityName">
        <h6>Entity Description</h6>
        <input type="text" id="editContactsDescription" class="form-control mb-4" placeholder="Description" [(ngModel)]="contact.entityDescription">
        <h6>Entity Phone</h6>
        <input type="text" id="editContactsEntityPhone" class="form-control mb-4" placeholder="Phone" [(ngModel)]="contact.entityPhone">
        <h6>Contact Email</h6>
        <input type="text" id="editContactEmail" class="form-control mb-4" placeholder="Email" [(ngModel)]="contact.contactEmail">
        <button class="btn primary-color-dark" type="submit">Save</button>

  </div>


  <div class="col-sm-3">

      <h6>Entity Name</h6>
      <input type="text" id="editContactsEntity" class="form-control mb-4" placeholder="Entity Name">
      <h6>Entity Description</h6>
      <input type="text" id="editContactsDescription" class="form-control mb-4" placeholder="Description">
      <h6>Entity Phone</h6>
      <input type="text" id="editContactsEntityPhone" class="form-control mb-4" placeholder="Phone">
      <h6>Contact Email</h6>
      <input type="text" id="editContactEmail" class="form-control mb-4" placeholder="Email">
  </div>

</div>


